.grass
    background-image: url('./../../../public/images/grass.jpg')
    background-size: 100% 100%

.snake-head
    background-color #e8ff04

.snake-body
    background-color: #f22d9d        

.snake-tail
    background-color: #000