.snake-map
    width: clamp(310px, 100vw, 800px)
    height clamp(310px, 100vw, 800px)
    background-color: #673ab7
    margin: auto
    display: grid 
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: repeat(10, 1fr)